*.py[co]
*.sw[nop]
*~
.#*
.project
[#]*#
Thumbs.db
*flv
*wmv
*mp3
*avi
__*
__MACOSX
.DS_Store
/sites/default/files/js/*
./sites/default/files/css/**
sites/default/files/css
sites/default/files/js
./sites/default/files/js/*
./sites/default/files/css/*
C:\nppdf32Log\debuglog.txt
./sites/default/files/xmlsitemap/*
